<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee           http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Sistema de Gestión de Garaje</display-name>
    <!-- Configurar página de bienvenida -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>conexion.jsp</welcome-file>
    </welcome-file-list>
    <!-- Configurar el servlet para redirección -->
    <servlet>
        <servlet-name>VehicleServlet</servlet-name>
        <servlet-class>com.mycompany.conexion.VehiculoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VehicleServlet</servlet-name>
        <url-pattern>/vehiculos</url-pattern>
    </servlet-mapping>
</web-app>
